.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.margin-bottom-large {
  margin-bottom: 36px !important;
}

.margin-bottom-medium {
  margin-bottom: 24px !important;
}

.margin-bottom-small {
  margin-bottom: 16px !important;
}
